/* #FFC600 kuning */
/* #303030 abu kehitaman */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

header div {
    flex-basis: 15%;
    padding: 1rem;
}

header div p{
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

header div span {
    display: none;
}

nav {
    flex-basis: 50%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}

nav li:hover{
    background: #FFC600;
    color: white;
}

li a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: row-reverse;
}

aside, #content {
    padding: 24px;
}

aside {
    width: 25%;
    background: #FFC600;
}

aside figure {
    margin: 20px;
    text-align: center;
}

aside figure figcaption {
    background: #fff;
    padding-top: 10px;
}

aside figure figcaption h3 {
    text-transform: uppercase;
}

aside img {
    width: 100%;
}

aside article {
    background: #fff;
    border: 2px solid #303030;
    border-radius: 1em;
}

aside article h1 {
    background: #303030;
    color: #fff;
    padding: 8px;
    text-align: center;
    border-radius: calc(1rem - 4px) calc(1rem - 4px) 0 0;
}

aside figure li {
    display: inline-flex;
    list-style-type: none;
    padding: 8px;
    cursor: pointer;
    font-size: 30px;
}

aside article li:hover {
    text-decoration: underline;
}

#content {
    width: 75%;
    background: #303030;
    color: #fff;
}

#content article {
    margin-bottom: 24px;
}

#content article h1 {
    background: #fff;
    margin-left: -24px;
    display: inline-block;
    min-width: 30%;
    padding: 16px;
    color: #000;
    text-align: right;
    font-size: 2rem;
}

#content article > p {
    text-align: justify;
    padding: 24px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.list-proyek > p {
    text-align: justify;
    padding: 24px 24px 0px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.list-proyek > ul {
    text-align: justify;
    padding: 0px 24px 24px 43px;
    font-size: 1rem;
    line-height: 1.5rem;
}

.list-proyek a{
    color: #FFC600;
    text-decoration: none;
    
}

.list-proyek h3, .list-pendidikan h3 {
    color: #B0A252;
    padding: 0px 24px;
    padding-top: 24px;
    text-transform: uppercase;
}

.list-proyek h5 {
    margin: 0px 24px;
    text-transform: uppercase;
    display: inline;
    border-bottom: 1px solid #B0A252;
}

.list {
    display: flex;
    margin-left: 24px;
    margin-top: 8px;
    padding: 24px;
    border: 1px solid #fff;
}

.list div{
    margin: auto;
    margin-left: 24px;
}

.list div h5 {
    font-size: 1rem;
    display: inline-block;
    border-bottom: 1px solid #B0A252;
    margin-bottom: 8px;
}

.list > div p {
    text-align: justify;
}

.list img {
    width: 128px;
    height: 128px;
    margin-top: 8px;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

#content table {
    border-collapse: collapse;
    margin: 24px;
    width: 100%;
}

.table-wrapper {
    overflow: auto;
}


th, td {
    border: 1px solid #fff;
    padding: 16px 24px;
}

td li {
    width: 100%;
}

td:nth-of-type(1), th:nth-of-type(1){
    width: 25%;
}

td:nth-of-type(2), th:nth-of-type(2){
    width: 75%;
}

footer {
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 513px) {
    main {
        display: block;
    }

    header div {
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
    }

    header div span {
        display: block;
    }

    nav {
        display: none;
    }

    aside, #content {
        padding: 16px 8px;
    }

    aside {
        width: 100%;
    }

    #content {
        width: 100%;
    }

    #content article h1 {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #content article > p, .list-proyek > p {
        padding: 8px;
    }

    .list-proyek h3, .list-pendidikan h3 {
        padding: 0px 8px;
        padding-top: 8px;
    }

    .list-proyek h5{
        margin: 0px 8px;
    }

    .list {
        display: block;
        text-align: center;
        margin: 8px;
    }

    .list h5{
        margin: 0;
    }

    .list div{
        margin: 0;
        margin-top: 8px;
    }

    .list p{
        text-align: justify;
    }

    td:nth-of-type(1), th:nth-of-type(1){
        width: auto;
    }
    
    td:nth-of-type(2), th:nth-of-type(2){
        width: auto;
    }
}
